
<!-- Script 3.3 - footer.html -->
	<!-- End of the page-specific content. --><!--</div>
	
	<div id="footer">
		<p>Copyright &copy; <a href="#">Plain and Simple</a> 2007 | Designed by <a href="http://www.edg3.co.uk/">edg3.co.uk</a> | Sponsored by <a href="http://www.opendesigns.org/">Open Designs</a> | Text from <a href="http://hipsteripsum.me/">Hipster Ipsum</a></p>
	</div>
</body>
</html>
-->

      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="view_users.php">View Users</a> | <a href="password.php">Change Password</a> | <a href="email.php">Contact Me</a> | <a href="images.php">Images</a></p>
      <p>Copyright &copy; simplestyle_4 | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a> |  Text from <a href="http://hipsteripsum.me/">Hipster Ipsum</a></p>
    </div>
  </div>
</body>
</html>