<!-- Script 3.3 - footer.html -->
	<!-- End of the page-specific content. --></div>
	
	<div id="footer">
		<p>Copyright &copy; <a href="#">Plain and Simple</a> 2007 | Designed by <a href="http://www.edg3.co.uk/">edg3.co.uk</a> | Sponsored by <a href="http://www.opendesigns.org/">Open Designs</a> | Text from <a href="http://hipsteripsum.me/">Hipster Ipsum</a></p>
	</div>
</body>
</html>
