/*
	Author	:	Christopher Robinson
	Email		:	christopher@edg3.co.uk
	Website	:	http://www.edg3.co.uk/
*/
* {
	border:0;
	margin:0;
	padding:0;
}

/* general */
a {
	color:#777;
	text-decoration:none;
}

a:hover {
	color:#333;
	text-decoration:none;
}

/* body */
body {
	background: #bfd4f0;
	color: #303b61;
	font:0.8em Arial, Helvetica, "bitstream vera sans", sans-serif;
}

/* header */
#header {
/* 	border-bottom:1px solid #999; */
	height:80px;
	margin:0 auto;
	width:751px;
}
#header h1 {
	color: #425084;
	font-size:300%;
	letter-spacing:-3px;
	text-align:right;
	padding:5px;
	margin-bottom:-20px;
}
#header h2 {
	color: #323e65;
	font-size:200%;
	letter-spacing:-2px;
	text-align:right;
}

/* navigation */
/*
#navigation {
	background:#bfd4f0;
	border-right:1px solid #999;
	margin:0 auto;
	width:750px;
	height:40px;
	list-style:none;
}
#navigation li {
	border-left:1px solid #999;
	float:left;
	width:149px;
	list-style:none;
}
#navigation a {
	color:#555;
	display:block;
	line-height:40px;
	text-align:center;
}
#navigation a:hover {
	background: #bed9ff;
	color:#555;
}
#navigation .active {
	background:#e3e3e3;
	color:#777;
}
*/

#navigation {
/* 	border-right:1px solid #999; */
	margin:0 auto;
	width:775px;
	height:60px;
/* 	list-style:none;	 */
}
#navigation ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
#navigation li
{
float:left;
}
#navigation a {
	text-align:center;
	line-height: 30px;
}
#navigation a:link,a:visited
{
display:block;
width:120px;
height:30px;
font-weight:bold;
color:#FFFFFF;
background-color:#a3c1ea;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
#navigation a:hover,a:active
{
background-color:#bed9ff;
}

/* content */
#content {
	height:auto;
	margin:0 auto;
	padding:0 0 20px;
	width:751px;
}
#content h1 {
	border-bottom:1px dashed #999;
	font-size:1.8em;
	padding:20px 0 0;
}
#content p {
	padding:20px 20px 0;
}

/* footer */
#footer {
	border-top:1px solid #999; 
	height:50px;
	margin:0 auto;
	padding:10px;
	text-align:center;
	width:751px;
}

/* Added by Larry Ullman: */
.error {
	font-weight: bold;
	color: #C00
}
